@keyframes gradientRotation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #1b0bc28f,#785ce6); /* Replace #xxx and #yyy with your desired gradient colors */
  background-size: 200% 200%;
}

.animate-spin-slow {
  animation: gradientRotation 2s linear infinite;
}