@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background-image:
        linear-gradient(to top, transparent, red),
        linear-gradient(to right, green, yellow, blue);
    background-size: 100% 100%, 2000% 100%;
    animation: move 5s infinite;
}

@keyframes move {
    from {
        background-position: center center, left center;
    }

    to {
        background-position: center center, right center;
    }
}